In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('data.csv')
df2=pd.read_csv('activity_data.csv')

In [ ]:
df.head()

     _type    _id     _score                                            _source
0   movies     97  20.848059  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1   movies    507  10.478757  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2   movies    811   9.831051  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3  tvshows  25222   9.288745  {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4   movies    757   9.140831  {'cast': ['Margaret Rutherford', 'Ron Moody', ...

In [ ]:
df2.head()

        media_type  ...                                               hide
0  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
1  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
2  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
3  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...
4  {'S': 'movies'}  ...  {'M': {'value': {'NULL': True}, 'timestamp': {...

[5 rows x 7 columns]

In [ ]:
x=df['_source']
df1=pd.DataFrame(x,columns=['_source'])
df1

                                              _source
0   {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1   {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2   {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3   {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4   {'cast': ['Margaret Rutherford', 'Ron Moody', ...
5   {'cast': ['Radha Mitchell', 'Sean Bean', 'Jode...
6   {'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...
7   {'cast': ['Andy Griffith', 'Ron Howard', 'Fran...
8   {'cast': ['Jane Russell', 'Marilyn Monroe', 'C...
9   {'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...
10  {'cast': ['Juliette Binoche', 'Alfred Molina',...
11  {'cast': ['Stephen Baldwin', 'Kevin Spacey', '...
12  {'cast': ['Tom Cruise', 'Kelly McGillis', 'Val...
13  {'cast': ['Richard Dreyfuss', 'Ron Howard', 'P...
14  {'cast': ['Warwick Davis', 'Val Kilmer', 'Joan...
15  {'cast': ['Clint Eastwood', 'Gene Hackman', 'M...
16  {'cast': ['Jennifer Beals', 'Michael Nouri', '...
17  {'cast': ['Brad Pitt', 'Robert De Niro', 'Kevi...
18  {'cast': ['Zach Braff', 'Natalie Portman', 'Ia...
19  {'cast': ['Angelina Jolie', 'Brad Pitt', 'Adam...
20  {'cast': ['Tobin Bell', 'Costas Mandylor', 'Sc...
21  {'cast': ['Nicole Kidman', 'Matt Dillon', 'Joa...
22  {'cast': ['Roger Moore', 'Christopher Walken',...
23  {'cast': ['Kevin Costner', 'Tommy Lee Jones', ...
24  {'cast': ['Arnold Schwarzenegger', 'Linda Hami...
25  {'cast': ['Dave Annable', 'Calista Flockhart',...
26  {'cast': ['Bruce Campbell', 'Embeth Davidtz', ...
27  {'cast': ['Sharon Stone', 'Jeanne Tripplehorn'...
28  {'cast': ['Richard Roundtree', 'Moses Gunn', '...
29  {'cast': ['Julia Roberts', 'Albert Finney', 'A...
30  {'cast': ['Charlie Sheen', 'Willem Dafoe', 'Jo...
31  {'cast': ['Marlon Brando', 'Al Pacino', 'James...
32  {'cast': ['Macaulay Culkin', 'Joe Pesci', 'Dan...
33  {'cast': ['Tim Robbins', 'Morgan Freeman', 'Bo...
34  {'cast': ['Harrison Ford', 'Kate Capshaw', 'Jo...
35  {'cast': ['Robert De Niro', 'James Woods', 'El...
36  {'cast': ['Jodie Foster', 'Anthony Hopkins', '...
37  {'cast': ['Al Pacino', 'Diane Keaton', 'Talia ...
38  {'cast': ['Bill Murray', 'Dan Aykroyd', 'Sigou...
39  {'cast': ['Tobey Maguire', 'Willem Dafoe', 'Ki...
40  {'cast': ['Elijah Wood', 'Ian McKellen', 'Vigg...
41  {'cast': ['Ben Affleck', 'Jon Voight', 'Tom Si...
42  {'cast': ['Mark Hamill', 'Harrison Ford', 'Car...
43  {'cast': ['Bruce Willis', 'Milla Jovovich', 'G...
44  {'cast': ['Samuel L. Jackson', 'Vanessa Willia...
45  {'cast': ['Leonardo DiCaprio', 'Kate Winslet',...
46  {'cast': ['Will Smith', 'Bill Pullman', 'Jeff ...

In [ ]:
df1.to_csv(r'C:\Users\Desktop\extracted.csv', index=False)